# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment
.env
.env.local
.env.*.local

# Foundry
contracts/lib/
contracts/out/
contracts/cache/

# Circom
circuits/build/
circuits/*.r1cs
circuits/*.wasm
circuits/*.zkey
circuits/*.ptau

# Frontend
client/.next/
client/out/

# CRE
.workflows/

# OS
.DS_Store
Thumbs.db

circuits/build/

circuits/*.zkey

circuits/*.ptau
